.navbar {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    align-items: flex-end;
    height: auto;
    flex-direction: column;
    display: flex;
  }
}

.flex > div {
  flex: 1;
  margin-right: 10px;
}

.navbar {
  height: auto;
  box-shadow: -1px 1px 1px -0.5px rgba(156, 155, 155, 0.8);
  background-color: var(--divColor);
  border-radius: 0 25px 0 25px;
}

.navbar .items { 
  font-weight: bold;
  cursor: pointer;
}

.active-link {
  color: var(--text-header1);
}
