<div class="main-part flex gap-5">
    <i (click)="goBack()" class="fa-solid fa-arrow-left fa-2xl mt-16"></i>

    <div class="flex flex-col justify-center h-auto">
        <div class="card ">
            <div class=" md:w-1/3  grid place-items-center">
                <img src="{{projectItem.img}}" alt="tailwind logo"
                    class="project-item  img-fit rounded-xl max-w-full" />
            </div>
            <div class="w-full md:w-2/3 flex flex-col space-y-2 p-3">
                <h3 class="font-black md:text-3xl text-xl"> {{projectItem.title}}</h3>
                <p class=" font-medium hidden md:block">{{projectItem.subtitle}}</p>
                <p class="md:text-lg  text-base">{{projectItem.describtion}}</p>
                <p class="text-base font-black ">
                    Technologies Used:
                    <span class="font-normal  text-base">{{projectItem.technology}}</span>
                </p>
                <a title="Click for Detailed View" href="{{projectItem.url}}" class="font-bold "><u> Read more.. </u>
                    <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>