.main-part {
  width: 940px;
  height: 680px;
  background-color: var(--divColor);
  margin-top: 40px;
  border-radius: 27px;
  margin-left: 42px;
  border: 1px solid var(--border-color);

  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: auto;
}

/* Hide the scrollbar for WebKit-based browsers */
.main-part::-webkit-scrollbar {
  width: 0.5px;
}

.card {
  width: 66%;
  height: auto;
  border-radius: 10px;
  border: 2px solid gray;
  color: var(--invertcolor);
  margin-top: 50px;
  overflow: hidden;
}
.img-fit {
  height: 366px;
  width: 237px;
  object-fit: cover;
}

.project-item {
  transition: transform 0.7s ease;
}
.project-item:hover {
  transform: scale(1.15);
}
