.main-part {
  width: 100%;
  height: 647px;
  background-color: var(--divColor);
  border-radius: 27px;
  border: 1px solid var(--border-color);
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: auto;
  padding: 0px 65px 0 65px;
}

/* Hide the scrollbar for WebKit-based browsers */
.main-part::-webkit-scrollbar {
  width: 0.5px;
}

.card {
  width: 807px;
  height: auto;
  border-radius: 10px;
  // border: 2px solid gray;
  color: var(--invertcolor);
  margin-top: 50px;
  overflow: hidden;
  gap: 20px;
  display: flex;
  padding: 10px 14px 10px 3px;
}
.img-fit {
  height: 366px;
  width: 237px;
  object-fit: cover;
}

.project-item {
  transition: transform 0.7s ease;
}
.project-item:hover {
  transform: scale(1.15);
}
