.side-bar {
  width: 250px;
  padding: 10px;
  height: 680px;
  align-items: center;
  text-align: -webkit-center;
  background-color: var(--divColor);
  border: 1px solid var(--border-color);
  border-radius: 45px;
}

.title2 {
  width: 186px;
  border: 1px solid rgb(188, 190, 165);
}

.outericons {
  width: 200px;
}

.icons {
  padding: 7px 10px;
  box-shadow: 0px 1px 6px -0.5px rgb(132 132 132);
  width: 186px;
  height: auto;
  margin: 21px 0;
  border-radius: 10px;
  display: flex;
}

.icons h1 {
  font-size: 12px;
  font-weight: 500;
}

.icons h3 {
  font-size: 11px;
  margin-top: -4px;
  margin-left: 0px;
  font-weight: 300;
  font-family: system-ui;
}

.outericons i {
  margin-top: 18px;
  font-size: 29px;
}
