.side-bar {
  text-align: -webkit-center;
  background-color: var(--divColor);
  border: 1px solid var(--border-color);
  border-radius: 32px;
  position: sticky;
  top: 42px;
  height: 716px;
  width: auto;
  display: flex;
  flex-direction: column;

  @media (max-width: 400px) {
    align-items: center; /* Center align the row items */
    width: 374px; /* Allow the network container to expand based on content */
    height: auto;
  }
}

.profile {
  @media (max-width: 400px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.title2 {
  border: 1px solid rgb(188, 190, 165);
}

.network {
  gap: 14px;
  flex-direction: column;
  display: flex;
  width: 180px;
  margin-top: 24px;

  @media (max-width: 400px) {
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    width: auto;
    flex-wrap: wrap;
    margin-top: 0px;
  }

  .icons {
    padding: 7px 10px;
    box-shadow: 0px 1px 6px -0.5px rgb(132 132 132);

    height: auto;

    border-radius: 10px;
    display: flex;
  }

  .icons h1 {
    font-size: 12px;
    font-weight: 500;
  }

  .icons h3 {
    font-size: 11px;
    margin-top: -4px;
    margin-left: 0px;
    font-weight: 300;
    font-family: system-ui;
  }

  .outericons i {
    margin-top: 17px;
    font-size: 25px;
  }
}
